@charset "utf-8";
/* CSS Document */

#header{background:#FC6;color:#339}
#nav{background:#F60;color:#03C}
.side_title h3{background:#f60;}
.side_body{background:#F63;}
.single_ad_details ul li{background:#FF6;color:#930;}