@charset "utf-8";
/* CSS Document */

#header{background:#9F0;color:#003}
#nav{background:#093;color:#FCF}
.side_title h3{background:#093;}
.side_body{background:#0FC;}
.single_ad_details ul li{background:#9F9;}