@charset "utf-8";
/* CSS Document */

#header{background: #939;color:#F66;}
#nav{background:#96F;color:#FF3;}
.side_title h3{background:#99F;color:#F69;}
.side_body{background:##99C;}
.single_ad_details ul li{background:#999;}